
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Raleway:wght@900&display=swap');
/*
    #001220
    #FBAE3C
*/


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 11px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    word-spacing: 1rem;
    font-weight: bold;
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    
}



.container{
    width: 100vw;
}

.landing{
    min-height: 100vh;
    background-image: linear-gradient(
  135deg,
  hsl(194deg 50% 79%) 1%,
  hsl(194deg 76% 75%) 50%,
  hsl(194deg 100% 72%) 99%
);
}

ul{
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    list-style: none;
    gap: 2em;
    margin-right: 3rem;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

ol{
    text-align: left;
    margin-top: 2rem;
}

ol li {
    margin-top: 2rem;
    line-height: 2.5rem;
    font-size: 2rem;
}

ul li:hover{
    color: white;
    text-decoration: underline;
}

ul li{
    cursor: pointer;
    color: rgb(54, 150, 96);
}

h1,h2{
    color: hsl(0, 0%, 0%)
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 5rem;
    margin-top: 2rem;
    text-align: left;
    width: 120%;
}

.ml{
    margin-left: auto;
}

p{
    margin-top: 2rem;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: space-between;
    height: 82px;
}

#zaloguj{
    border-radius: 20px 20px 20px 20px;
    padding: 1rem 2rem 1rem 2rem;
    background-image: linear-gradient(
  135deg,
  hsl(145deg 33% 69%) 1%,
  hsl(146deg 44% 58%) 50%,
  hsl(146deg 55% 47%) 99%
);
    color: rgb(255, 255, 255);
}

#menu{
    margin-left: 2rem;
}

.logo{
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 60px;
    height: 60px;
}

.logo-img{
    width: 60px;
    height: 82px;
}

.items{
    display: flex;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0 4rem 0;
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}

header{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 300px;
}

header img{
    width: 100%;
}


#section-one{
    padding: 0 2rem 0 2rem;  
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.f-article{
    margin-top: 5rem;
}

.f-article, .img-main{
    min-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-main img{
    width: 100%;
}

.img-main{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.f-article{
    position: relative;
    width: 40%;
    z-index: 10;
}

.article-container{
    width: 80%;
    position: relative;
    z-index: 10;
}

.f-article p{
    text-align: left;
    text-shadow: 2px 2px 1px #000000;
    margin-top: 3rem;
    font-size: 2.3rem;
}

.f-article h2{
    text-shadow: 1px 1px 1px #bdbdbd;
}

#a-btn{
    margin-top: 6rem;
    padding: 2rem 6rem 2rem 6rem;
    border-radius: 40px 40px 40px 40px;
    font-size: 2.5rem;
    background-image: linear-gradient(
    135deg,
    hsl(145deg 33% 69%) 1%,
    hsl(146deg 44% 58%) 50%,
    hsl(146deg 55% 47%) 99%
    );
    color: white;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
}


#a-text{
    color: rgb(61, 165, 106);
}



#section-two{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s2bg{
    width: 100%;
    position: relative;
    z-index: 1;
}

.box{
    position: absolute;
    z-index: 2;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.box-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
}

.boxs{
    position: relative;
    width: 12%;
}

.boxs img{
    width: 100%;
}

.boxs img:hover{
    transform: scale(1.2);
    transition: 1s ease-in-out
}











#konik{
    width: 300px;
    height: 175px;
}

footer{
    background-color: hsl(216, 53%, 9%);
    margin-top: -.3rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

footer p{
    margin-top: 1rem;
    
}

.row2 img{
    margin-top: 1.5rem;
}

.footer-logo img{
    height: 100px;
    width: 100px;
    margin-left: 2rem;
}

.footer-logo{
    width: 300px;
    text-align: left;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;

    position: relative;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 200px;
}

.row2{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    width: 250px;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}


#location{
    width: 13px;
    height: 18px;
    position: relative;
    top: 5px;
}

#text3{
    line-height: 2rem;
    font-size: 1.5rem;
}


#phone{
    width: 18px;
    height: 18px;
}

#email{
    width: 20px;
    height: 16px;
}

#fb, #tw, #ig{
   font-size: 20px;
   width: 50px;
   height: 50px;
   padding: 1rem;
   border-radius: 50%;
   border: 2px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
}

#fb:hover,#tw:hover,#ig:hover,.btn:hover{

    border: aqua solid 2px;
}

@media screen and (max-width: 1050px) {
    footer{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-logo{
        display: flex;
        justify-content: center;
    }

    .row{
        margin-top: 2rem;
    }

    .img-main{
        margin-top: 10rem;
    }
}


@media screen and (max-width: 700px) {
    .items{
        display: none;
    }
}
